# 必要なパッケージのインポート

In [1]:
import os
import pandas as pd

# データの読み込み

In [2]:
os.getcwd()

'/Users/masamitsuochiai/repos/project-b'

In [3]:
os.listdir()

['anly_historical_stock_prices.ipynb',
 'periodic-table-datapackage_company.db',
 'anly_macrotrends_info.ipynb',
 'output',
 'README.md',
 '.gitignore',
 'get_stock_list.ipynb',
 '.ipynb_checkpoints',
 'resource_files',
 '.git',
 'tmp',
 'periodic-table-datapackage_company-wk.db']

In [5]:
os.listdir("./resource_files")

['chromedriver_mac64.zip',
 'historical_stocks.csv',
 'chromedriver',
 'historical_stock_prices.csv.zip']

In [7]:
df = pd.read_table("./resource_files/historical_stock_prices.csv.zip", sep=",", header=0)

/usr/local/var/pyenv/versions/3.7.3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

# データ理解

## データの概要

In [8]:
df.shape

(20973889, 8)

In [10]:
df.columns

Index(['ticker', 'open', 'close', 'adj_close', 'low', 'high', 'volume',
       'date'],
      dtype='object')

In [11]:
df.head()

  ticker   open  close  adj_close    low   high   volume        date
0    AHH  11.50  11.58   8.493155  11.25  11.68  4633900  2013-05-08
1    AHH  11.66  11.55   8.471151  11.50  11.66   275800  2013-05-09
2    AHH  11.55  11.60   8.507822  11.50  11.60   277100  2013-05-10
3    AHH  11.63  11.65   8.544494  11.55  11.65   147400  2013-05-13
4    AHH  11.60  11.53   8.456484  11.50  11.60   184100  2013-05-14

In [12]:
df.tail()

         ticker   open  close  adj_close    low   high  volume        date
20973884    NZF  14.60  14.59      14.59  14.58  14.62  137500  2018-08-20
20973885    NZF  14.60  14.58      14.58  14.57  14.61  151200  2018-08-21
20973886    NZF  14.58  14.59      14.59  14.57  14.63  185400  2018-08-22
20973887    NZF  14.60  14.57      14.57  14.57  14.64  135600  2018-08-23
20973888    NZF  14.60  14.69      14.69  14.59  14.69  180900  2018-08-24

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20973889 entries, 0 to 20973888
Data columns (total 8 columns):
ticker       object
open         float64
close        float64
adj_close    float64
low          float64
high         float64
volume       int64
date         object
dtypes: float64(5), int64(1), object(2)
memory usage: 1.3+ GB

## カラムごとの概要

In [14]:
df.agg({"ticker": ["count", "nunique"]})

           ticker
count    20973889
nunique      5685

In [15]:
df.agg({"date": ["min", "max"]})

           date
min  1970-01-02
max  2018-08-24

In [19]:
df.agg({
    "open": ["min", "max"],
    "close": ["min", "max"],
    "adj_close": ["min", "max"],
    "low": ["min", "max"],
    "high": ["min", "max"],
    "volume": ["min", "max"]
})

,open,close,adj_close,low,high,volume
min,4.000000e-04,2.000000e-04,2.282650e-09,1.000000e-04,4.000000e-04,1
max,2.034000e+06,1.779750e+06,1.894962e+19,1.440000e+06,2.070000e+06,4483504400

In [23]:
df["date"].value_counts().sort_index()

1970-01-02      28
1970-01-05      28
1970-01-06      28
1970-01-07      28
1970-01-08      28
1970-01-09      28
1970-01-12      28
1970-01-13      28
1970-01-14      28
1970-01-15      28
1970-01-16      28
1970-01-19      28
1970-01-20      28
1970-01-21      28
1970-01-22      28
1970-01-23      28
1970-01-26      28
1970-01-27      28
1970-01-28      28
1970-01-29      28
1970-01-30      28
1970-02-02      28
1970-02-03      28
1970-02-04      28
1970-02-05      28
1970-02-06      28
1970-02-09      28
1970-02-10      28
1970-02-11      28
1970-02-12      28
              ...
2018-07-16    5499
2018-07-17    5514
2018-07-18    5511
2018-07-19    5512
2018-07-20    5494
2018-07-23    5490
2018-07-24    5517
2018-07-25    5489
2018-07-26    5510
2018-07-27    5498
2018-07-30    5498
2018-07-31    5499
2018-08-01    5499
2018-08-02    5499
2018-08-03    5462
2018-08-06    5468
2018-08-07    5458
2018-08-08    5466
2018-08-09    5450
2018-08-10    5467
2018-08-13    5481
2018-08-14    5452
2018-08-15    5459
2018-08-16    5452
2018-08-17    5444
2018-08-20    5450
2018-08-21    5471
2018-08-22    5464
2018-08-23    5441
2018-08-24    5479
Name: date, Length: 12274, dtype: int64

In [26]:
df.query("date > '2018-08-01'")["ticker"].value_counts()

PENN     17
EVOL     17
CASA     17
SMIT     17
NSL      17
MYOS     17
ALQA     17
SHLO     17
KEYW     17
IDSY     17
OBE      17
BGG      17
ONE      17
WAGE     17
MGI      17
LAUR     17
BWXT     17
VCYT     17
OPOF     17
HCSG     17
PMTS     17
LBRDK    17
PIY      17
ASGN     17
PATI     17
BKS      17
CAI      17
DTJ      17
NMI      17
LN       17
         ..
APTV      2
RWGE      2
EQH       2
SMAR      2
NINE      2
KELYB     2
PRT       2
ROAD      2
SLDD      2
JSYN      2
STXB      2
KYE       2
GPAQU     2
CBX       2
COLD      2
CBO       2
ASLN      2
BRPAU     2
BHAC      2
YLDE      1
ELJ       1
OKDCC     1
VETS      1
BSA       1
TCAP      1
PMPT      1
EAI       1
AJXA      1
SENEB     1
IVFVC     1
Name: ticker, Length: 5623, dtype: int64

## 欠損値の情報

In [16]:
df.isnull().sum()

ticker       0
open         0
close        0
adj_close    0
low          0
high         0
volume       0
date         0
dtype: int64

# S&P 500銘柄に絞った場合のデータ理解

## S&P 500銘柄一覧の読み込み

In [31]:
os.listdir("./output")

['s_and_p_macrotrends_info.csv', 's_and_p_stock_list.csv', 'wk']

In [32]:
df_s_and_p_stock_list = pd.read_table("./output/s_and_p_stock_list.csv", sep=",", header=0)

/usr/local/var/pyenv/versions/3.7.3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

In [34]:
s_and_p_symbol_list = df_s_and_p_stock_list["Symbol"]

## S&P 500銘柄の株価データを抽出して理解

In [38]:
df_s_and_p = df.query("ticker in @s_and_p_symbol_list")

In [39]:
df_s_and_p.shape

(3431352, 8)

In [40]:
df_s_and_p["ticker"].nunique()

484

In [42]:
df_s_and_p.agg({"date":[min, max]})

           date
min  1970-01-02
max  2018-08-24

In [43]:
df_s_and_p["date"].value_counts().sort_index()

1970-01-02     22
1970-01-05     22
1970-01-06     22
1970-01-07     22
1970-01-08     22
1970-01-09     22
1970-01-12     22
1970-01-13     22
1970-01-14     22
1970-01-15     22
1970-01-16     22
1970-01-19     22
1970-01-20     22
1970-01-21     22
1970-01-22     22
1970-01-23     22
1970-01-26     22
1970-01-27     22
1970-01-28     22
1970-01-29     22
1970-01-30     22
1970-02-02     22
1970-02-03     22
1970-02-04     22
1970-02-05     22
1970-02-06     22
1970-02-09     22
1970-02-10     22
1970-02-11     22
1970-02-12     22
             ...
2018-07-16    484
2018-07-17    484
2018-07-18    484
2018-07-19    484
2018-07-20    484
2018-07-23    484
2018-07-24    484
2018-07-25    484
2018-07-26    484
2018-07-27    484
2018-07-30    484
2018-07-31    484
2018-08-01    484
2018-08-02    484
2018-08-03    483
2018-08-06    483
2018-08-07    483
2018-08-08    483
2018-08-09    483
2018-08-10    483
2018-08-13    483
2018-08-14    483
2018-08-15    483
2018-08-16    483
2018-08-17    483
2018-08-20    483
2018-08-21    483
2018-08-22    482
2018-08-23    482
2018-08-24    484
Name: date, Length: 12274, dtype: int64