# 必要なパッケージのインポート

In [20]:
import pickle
import os
import pandas as pd
import time, datetime
import numpy as np

# マージするデータの読み込み

## Kaggleから取得したデータファイル（〜2018年）

In [2]:
df_kaggle_stock_price_history_data = pd.read_table("./resource_files/historical_stock_prices.csv.zip", sep=",", header=0)

/usr/local/var/pyenv/versions/3.7.3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

In [4]:
df_kaggle_stock_price_history_data.head()

  ticker   open  close  adj_close    low   high   volume        date
0    AHH  11.50  11.58   8.493155  11.25  11.68  4633900  2013-05-08
1    AHH  11.66  11.55   8.471151  11.50  11.66   275800  2013-05-09
2    AHH  11.55  11.60   8.507822  11.50  11.60   277100  2013-05-10
3    AHH  11.63  11.65   8.544494  11.55  11.65   147400  2013-05-13
4    AHH  11.60  11.53   8.456484  11.50  11.60   184100  2013-05-14

In [5]:
df_kaggle_stock_price_history_data.shape

(20973889, 8)

## データの整形

In [10]:
df_kaggle_stock_price_history_data = df_kaggle_stock_price_history_data[["ticker", "open", "close", "low", "high", "volume", "date"]]

In [11]:
df_kaggle_stock_price_history_data.head()

  ticker   open  close    low   high   volume        date
0    AHH  11.50  11.58  11.25  11.68  4633900  2013-05-08
1    AHH  11.66  11.55  11.50  11.66   275800  2013-05-09
2    AHH  11.55  11.60  11.50  11.60   277100  2013-05-10
3    AHH  11.63  11.65  11.55  11.65   147400  2013-05-13
4    AHH  11.60  11.53  11.50  11.60   184100  2013-05-14

## investing.comからスクレイピングで取得したデータファイル（2018年〜2020年9月30日）

In [3]:
df_investingcom_stock_price_history_data = pd.read_table("./output/s_and_p_stock_price_history_from_investing_com.csv", sep=",", header=0)

/usr/local/var/pyenv/versions/3.7.3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.
/usr/local/var/pyenv/versions/3.7.3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (2,3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df_investingcom_stock_price_history_data.head()

   Unnamed: 0 ticker    open   close     low    high   volume        date
0           0    PEP  137.96   138.6  136.93  139.19  7060000  2020-09-30
1           1    PEP  138.72  137.16  137.15  139.54  4330000  2020-09-29
2           2    PEP  135.96  137.97  135.75  138.58  7490000  2020-09-28
3           3    PEP  130.89  133.55  130.51  133.83  4580000  2020-09-25
4           4    PEP  131.27  131.58  129.94  132.31  4320000  2020-09-24

In [7]:
df_investingcom_stock_price_history_data.shape

(344311, 8)

### データの整形

In [8]:
df_investingcom_stock_price_history_data = df_investingcom_stock_price_history_data[["ticker", "open", "close", "low", "high", "volume", "date"]]

In [12]:
df_investingcom_stock_price_history_data.head()

  ticker    open   close     low    high   volume        date
0    PEP  137.96   138.6  136.93  139.19  7060000  2020-09-30
1    PEP  138.72  137.16  137.15  139.54  4330000  2020-09-29
2    PEP  135.96  137.97  135.75  138.58  7490000  2020-09-28
3    PEP  130.89  133.55  130.51  133.83  4580000  2020-09-25
4    PEP  131.27  131.58  129.94  132.31  4320000  2020-09-24

# データのマージ

## データの確認

In [14]:
df_kaggle_stock_list = df_kaggle_stock_price_history_data["ticker"].unique()

In [15]:
len(df_kaggle_stock_list)

5685

In [13]:
df_investingcom_stock_list = df_investingcom_stock_price_history_data["ticker"].unique()

In [16]:
len(df_investingcom_stock_list)

500

## 共通して存在する銘柄の確認

In [21]:
len(np.intersect1d(df_kaggle_stock_list, df_investingcom_stock_list))

480

In [22]:
intersect_tickers = np.intersect1d(df_kaggle_stock_list, df_investingcom_stock_list)

## データのマージ

In [73]:
df_merged = df_kaggle_stock_price_history_data.query("ticker in @intersect_tickers")

In [74]:
df_merged = df_merged.append(df_investingcom_stock_price_history_data.query("ticker in @intersect_tickers"))

In [75]:
df_merged.shape

(3742499, 7)

In [76]:
df_merged.head()

    ticker      open     close       low      high     volume        date
948   AAPL  0.513393  0.513393  0.513393  0.515625  117258400  1980-12-12
960   AAPL  0.488839  0.486607  0.486607  0.488839   43971200  1980-12-15
968   AAPL  0.453125  0.450893  0.450893  0.453125   26432000  1980-12-16
980   AAPL  0.462054  0.462054  0.462054  0.464286   21610400  1980-12-17
988   AAPL  0.475446  0.475446  0.475446  0.477679   18362400  1980-12-18

In [77]:
df_merged["ticker"].nunique()

480

In [78]:
df_merged.agg({"date": [min, max]})

           date
min  1970-01-02
max  2020-09-30

## 重複行の確認

In [60]:
df_merged.groupby(["ticker", "date"]).size().reset_index()\
         .loc[(df_merged.groupby(["ticker", "date"]).size()>1).to_list(), :]

        ticker        date  0
4558         A  2018-01-02  2
4559         A  2018-01-03  2
4560         A  2018-01-04  2
4561         A  2018-01-05  2
4562         A  2018-01-08  2
4563         A  2018-01-09  2
4564         A  2018-01-10  2
4565         A  2018-01-11  2
4566         A  2018-01-12  2
4567         A  2018-01-16  2
4568         A  2018-01-17  2
4569         A  2018-01-18  2
4570         A  2018-01-19  2
4571         A  2018-01-22  2
4572         A  2018-01-23  2
4573         A  2018-01-24  2
4574         A  2018-01-25  2
4575         A  2018-01-26  2
4576         A  2018-01-29  2
4577         A  2018-01-30  2
4578         A  2018-01-31  2
4579         A  2018-02-01  2
4580         A  2018-02-02  2
4581         A  2018-02-05  2
4582         A  2018-02-06  2
4583         A  2018-02-07  2
4584         A  2018-02-08  2
4585         A  2018-02-09  2
4586         A  2018-02-12  2
4587         A  2018-02-13  2
...        ...         ... ..
3663682    ZTS  2018-07-16  2
3663683    ZTS  2018-07-17  2
3663684    ZTS  2018-07-18  2
3663685    ZTS  2018-07-19  2
3663686    ZTS  2018-07-20  2
3663687    ZTS  2018-07-23  2
3663688    ZTS  2018-07-24  2
3663689    ZTS  2018-07-25  2
3663690    ZTS  2018-07-26  2
3663691    ZTS  2018-07-27  2
3663692    ZTS  2018-07-30  2
3663693    ZTS  2018-07-31  2
3663694    ZTS  2018-08-01  2
3663695    ZTS  2018-08-02  2
3663696    ZTS  2018-08-03  2
3663697    ZTS  2018-08-06  2
3663698    ZTS  2018-08-07  2
3663699    ZTS  2018-08-08  2
3663700    ZTS  2018-08-09  2
3663701    ZTS  2018-08-10  2
3663702    ZTS  2018-08-13  2
3663703    ZTS  2018-08-14  2
3663704    ZTS  2018-08-15  2
3663705    ZTS  2018-08-16  2
3663706    ZTS  2018-08-17  2
3663707    ZTS  2018-08-20  2
3663708    ZTS  2018-08-21  2
3663709    ZTS  2018-08-22  2
3663710    ZTS  2018-08-23  2
3663711    ZTS  2018-08-24  2

[78259 rows x 3 columns]

In [61]:
df_merged.query("ticker=='ZTS' & date=='2018-07-16'")

        ticker   open  close   low   high   volume        date
2549405    ZTS  86.31  84.58  84.5  86.31  2473300  2018-07-16
8861       ZTS  86.31  84.58  84.5  86.31  2470000  2018-07-16

→重複行の値は、丸められていたvolume以外は同じ様子

## 集約のためにカラムの型を変換

In [91]:
df_merged["open"] = df_merged["open"].apply(lambda x: str(x).replace(",", "") ).astype(float)

In [92]:
df_merged["low"] = df_merged["low"].apply(lambda x: str(x).replace(",", "") ).astype(float)
df_merged["high"] = df_merged["high"].apply(lambda x: str(x).replace(",", "") ).astype(float)
df_merged["close"] = df_merged["close"].apply(lambda x: str(x).replace(",", "") ).astype(float)

In [94]:
df_merged["volume"] = df_merged["volume"].apply(lambda x: str(x).replace(",", "").replace("-", "0") ).astype(float)

In [95]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3742499 entries, 948 to 344310
Data columns (total 7 columns):
ticker    object
open      float64
close     float64
low       float64
high      float64
volume    float64
date      object
dtypes: float64(5), object(2)
memory usage: 228.4+ MB

In [96]:
df_merged.head()

    ticker      open     close       low      high       volume        date
948   AAPL  0.513393  0.513393  0.513393  0.515625  117258400.0  1980-12-12
960   AAPL  0.488839  0.486607  0.486607  0.488839   43971200.0  1980-12-15
968   AAPL  0.453125  0.450893  0.450893  0.453125   26432000.0  1980-12-16
980   AAPL  0.462054  0.462054  0.462054  0.464286   21610400.0  1980-12-17
988   AAPL  0.475446  0.475446  0.475446  0.477679   18362400.0  1980-12-18

In [97]:
df_merged.tail()

       ticker    open   close     low    high    volume        date
344306    NOC  308.95  308.26  307.56  309.34  660790.0  2018-01-08
344307    NOC  309.09  308.22  307.21  310.24  842800.0  2018-01-05
344308    NOC  306.58  308.55  305.61  308.71  582400.0  2018-01-04
344309    NOC  304.74  306.65  304.61  307.25  722050.0  2018-01-03
344310    NOC  307.35  305.24  303.21  307.72  715000.0  2018-01-02

In [98]:
df_merged_unique = df_merged\
                    .groupby(["ticker", "date"], as_index=False)\
                    .agg({"open":"max", "close":"max", "low":"max", "high":"max", "volume":"max",})

In [99]:
df_merged_unique.shape

(3664240, 7)

In [100]:
df_merged_unique.groupby(["ticker", "date"]).size().reset_index()\
         .loc[(df_merged_unique.groupby(["ticker", "date"]).size()>1).to_list(), :]

Empty DataFrame
Columns: [ticker, date, 0]
Index: []

In [102]:
df_merged_unique["ticker"].nunique()

480

In [103]:
df_merged_unique.agg({"date":[min, max]})

           date
min  1970-01-02
max  2020-09-30

In [104]:
df_merged_unique["ticker"].value_counts()

DIS     12802
CAT     12802
MMM     12802
CVX     12802
IP      12802
GE      12802
KO      12802
AEP     12802
HPQ     12802
MRK     12802
CNP     12802
FL      12802
XOM     12802
DTE     12802
PG      12802
MCD     12802
ARNC    12802
MRO     12802
ED      12802
BA      12802
JNJ     12802
MO      12801
HON     12800
IBM     12799
DE      12190
F       12190
PFE     12189
ETR     12189
ETN     12189
BMY     12189
        ...
APTV     2231
TRIP     2218
PSX      2132
FB       2106
FANG     2004
ABBV     1951
NCLH     1939
ZTS      1930
IQV      1863
COTY     1839
NWSA     1835
NWS      1835
TWTR     1736
ALLE     1729
HLT      1712
ANET     1592
INFO     1583
SYF      1554
CFG      1516
KEYS     1498
QRVO     1447
WRK      1328
PYPL     1321
KHC      1321
UA       1315
HPE      1247
FTV      1069
LW        978
RSG       692
CBRE      692
Name: ticker, Length: 480, dtype: int64

In [106]:
df_merged_unique.query("ticker=='CBRE'").sort_values("date")

,ticker,date,open,close,low,high,volume
618286,CBRE,2018-01-02,43.680000,43.820000,43.240000,43.830000,2390000.0
618287,CBRE,2018-01-03,43.750000,44.190000,43.520000,44.230000,2210000.0
618288,CBRE,2018-01-04,44.340000,44.050000,44.010000,44.790000,1770000.0
618289,CBRE,2018-01-05,44.160000,44.270000,44.060000,44.380000,2080000.0
618290,CBRE,2018-01-08,44.270000,44.840000,44.220000,44.910000,2150000.0
618291,CBRE,2018-01-09,44.910000,45.150000,44.850000,45.500000,1760000.0
618292,CBRE,2018-01-10,44.950000,44.270000,44.080000,44.950000,2230000.0
618293,CBRE,2018-01-11,44.410000,45.120000,44.250000,45.170000,1090000.0
618294,CBRE,2018-01-12,45.250000,44.890000,44.770000,45.250000,1180000.0
618295,CBRE,2018-01-16,45.180000,44.650002,44.590000,45.520000,1160000.0
618296,CBRE,2018-01-17,44.920000,44.990002,44.570000,45.260000,1640500.0
618297,CBRE,2018-01-18,45.000000,45.190000,44.620000,45.300000,1460700.0
618298,CBRE,2018-01-19,45.260000,45.880001,45.100000,45.910000,1510000.0
618299,CBRE,2018-01-22,45.880001,45.730000,45.230000,45.980000,1300000.0
618300,CBRE,2018-01-23,45.680000,45.950001,45.530000,46.030000,1090000.0
618301,CBRE,2018-01-24,45.250000,45.210000,44.580002,45.590000,1823200.0
618302,CBRE,2018-01-25,45.390000,45.810001,45.390000,45.950001,1480000.0
618303,CBRE,2018-01-26,46.010000,46.210000,45.660000,46.240002,1120000.0
618304,CBRE,2018-01-29,46.210000,46.340000,45.790001,46.600000,1430800.0
618305,CBRE,2018-01-30,46.100000,45.660000,45.550000,46.440000,2050000.0
618306,CBRE,2018-01-31,45.790001,45.690000,45.270000,46.000000,2510000.0
618307,CBRE,2018-02-01,45.500000,45.810001,45.060001,45.820000,2240000.0
618308,CBRE,2018-02-02,45.500000,44.110001,43.900002,45.510000,2750600.0
618309,CBRE,2018-02-05,43.730000,41.780000,41.690000,44.110001,3494900.0
618310,CBRE,2018-02-06,40.880001,42.530000,39.600000,42.790001,3220000.0
618311,CBRE,2018-02-07,42.550000,42.540001,42.360001,43.490002,2950000.0
618312,CBRE,2018-02-08,42.480000,41.920000,41.840000,43.250000,3620000.0
618313,CBRE,2018-02-09,42.560001,41.900002,40.590000,42.710000,3083400.0
618314,CBRE,2018-02-12,42.240002,43.150002,41.900002,43.240002,3063300.0
618315,CBRE,2018-02-13,42.900002,44.140000,42.900002,44.250000,2840000.0
...,...,...,...,...,...,...,...
618948,CBRE,2020-08-19,44.380000,44.310000,43.810000,44.580000,1000000.0
618949,CBRE,2020-08-20,43.830000,44.080000,43.630000,44.610000,1280000.0
618950,CBRE,2020-08-21,44.400000,44.910000,44.340000,45.050000,883150.0
618951,CBRE,2020-08-24,45.080000,47.010000,44.950000,47.060000,1130000.0
618952,CBRE,2020-08-25,47.440000,47.390000,47.020000,47.920000,1720000.0
618953,CBRE,2020-08-26,47.010000,46.980000,46.470000,47.320000,1700000.0
618954,CBRE,2020-08-27,46.930000,47.350000,46.870000,47.890000,1310000.0
618955,CBRE,2020-08-28,47.550000,47.850000,46.970000,47.900000,863320.0
618956,CBRE,2020-08-31,47.960000,47.030000,46.560000,47.960000,2050000.0
618957,CBRE,2020-09-01,46.660000,47.770000,46.410000,47.890000,984910.0
618958,CBRE,2020-09-02,47.720000,49.040000,47.640000,49.120000,2490000.0
618959,CBRE,2020-09-03,48.860000,48.620000,47.920000,49.990000,1570000.0
618960,CBRE,2020-09-04,49.310000,48.220000,47.670000,49.420000,1260000.0
618961,CBRE,2020-09-08,47.910000,47.630000,47.310000,48.430000,1800000.0
618962,CBRE,2020-09-09,47.730000,48.530000,47.560000,49.070000,1540000.0
618963,CBRE,2020-09-10,48.520000,47.520000,47.430000,48.850000,1160000.0
618964,CBRE,2020-09-11,47.930000,46.910000,46.370000,47.980000,1280000.0
618965,CBRE,2020-09-14,47.440000,48.780000,47.440000,49.040000,1130000.0
618966,CBRE,2020-09-15,49.180000,49.630000,49.090000,50.230000,1290000.0
618967,CBRE,2020-09-16,49.920000,49.990000,49.470000,51.030000,1170000.0
618968,CBRE,2020-09-17,49.460000,49.570000,48.960000,49.900000,1360000.0
618969,CBRE,2020-09-18,49.100000,48.480000,48.420000,49.550000,2270000.0
618970,CBRE,2020-09-21,47.220000,46.450000,45.190000,47.220000,2100000.0
618971,CBRE,2020-09-22,47.020000,46.010000,45.680000,47.260000,1200000.0
618972,CBRE,2020-09-23,46.140000,45.000000,44.640000,46.600000,1440000.0
618973,CBRE,2020-09-24,44.970000,45.660000,44.590000,46.600000,1430000.0
618974,CBRE,2020-09-25,45.200000,46.320000,45.190000,46.720000,911290.0
618975,CBRE,2020-09-28,47.290000,47.340000,46.950000,47.880000,1440000.0
618976,CBRE,2020-09-29,47.140000,46.770000,46.210000,47.360000,870770.0
618977,CBRE,2020-09-30,47.170000,46.970000,46.590000,48.110000,1730000.0

In [107]:
df_kaggle_stock_price_history_data.query("ticker=='CBRE'").sort_values("date")

,ticker,open,close,low,high,volume,date
13294736,CBRE,45.180000,44.650002,44.590000,45.520000,1157000,2018-01-16
13294742,CBRE,44.919998,44.990002,44.570000,45.259998,1640500,2018-01-17
13294754,CBRE,45.000000,45.189999,44.619999,45.299999,1460700,2018-01-18
13294761,CBRE,45.259998,45.880001,45.099998,45.910000,1509900,2018-01-19
13294762,CBRE,45.880001,45.730000,45.230000,45.980000,1299100,2018-01-22
13294774,CBRE,45.680000,45.950001,45.529999,46.029999,1087200,2018-01-23
13294781,CBRE,45.250000,45.209999,44.580002,45.590000,1823200,2018-01-24
13294794,CBRE,45.389999,45.810001,45.389999,45.950001,1478400,2018-01-25
13294802,CBRE,46.009998,46.209999,45.660000,46.240002,1119100,2018-01-26
13294816,CBRE,46.209999,46.340000,45.790001,46.599998,1430800,2018-01-29
13294824,CBRE,46.099998,45.660000,45.549999,46.439999,2045900,2018-01-30
13294838,CBRE,45.790001,45.689999,45.270000,46.000000,2508400,2018-01-31
13294844,CBRE,45.500000,45.810001,45.060001,45.820000,2238800,2018-02-01
13294858,CBRE,45.500000,44.110001,43.900002,45.509998,2750600,2018-02-02
13294864,CBRE,43.730000,41.779999,41.689999,44.110001,3494900,2018-02-05
13294878,CBRE,40.880001,42.529999,39.599998,42.790001,3217600,2018-02-06
13294879,CBRE,42.549999,42.540001,42.360001,43.490002,2945300,2018-02-07
13294880,CBRE,42.480000,41.919998,41.840000,43.250000,3619700,2018-02-08
13294881,CBRE,42.560001,41.900002,40.590000,42.709999,3083400,2018-02-09
13294882,CBRE,42.240002,43.150002,41.900002,43.240002,3063300,2018-02-12
13294883,CBRE,42.900002,44.139999,42.900002,44.250000,2840000,2018-02-13
13294884,CBRE,43.669998,45.040001,43.500000,45.090000,2888600,2018-02-14
13294885,CBRE,45.480000,44.930000,44.540001,45.770000,2297300,2018-02-15
13294886,CBRE,44.919998,45.200001,44.869999,45.470001,2098800,2018-02-16
13294887,CBRE,44.910000,44.900002,44.400002,45.320000,2318900,2018-02-20
13294888,CBRE,44.970001,44.480000,44.480000,45.430000,2547800,2018-02-21
13294889,CBRE,44.759998,44.779999,44.689999,45.369999,2878200,2018-02-22
13294890,CBRE,45.090000,45.950001,44.959999,45.970001,2174600,2018-02-23
13294891,CBRE,46.020000,46.639999,45.540001,46.759998,1710100,2018-02-26
13294892,CBRE,46.799999,47.070000,46.790001,47.509998,4719200,2018-02-27
...,...,...,...,...,...,...,...
13295710,CBRE,49.000000,48.790001,48.549999,49.099998,1294600,2018-07-16
13295716,CBRE,48.730000,49.669998,48.509998,49.689999,2145900,2018-07-17
13295729,CBRE,49.540001,49.980000,49.070000,50.000000,1097400,2018-07-18
13295736,CBRE,49.950001,49.660000,49.590000,50.110001,1538000,2018-07-19
13295750,CBRE,49.560001,49.330002,49.270000,49.770000,1272200,2018-07-20
13295756,CBRE,49.439999,49.200001,48.970001,49.439999,1228900,2018-07-23
13295770,CBRE,49.279999,49.180000,48.830002,49.520000,1818200,2018-07-24
13295777,CBRE,49.220001,49.349998,48.730000,49.349998,1136400,2018-07-25
13295790,CBRE,49.130001,49.840000,49.130001,50.020000,1483300,2018-07-26
13295798,CBRE,50.110001,49.970001,49.740002,50.430000,1524900,2018-07-27
13295811,CBRE,49.939999,49.180000,49.110001,50.189999,1045500,2018-07-30
13295819,CBRE,49.439999,49.799999,49.279999,50.020000,1539600,2018-07-31
13295832,CBRE,49.770000,49.860001,49.380001,50.040001,1684600,2018-08-01
13295839,CBRE,49.279999,49.320000,48.720001,49.740002,1754400,2018-08-02
13295853,CBRE,49.689999,49.500000,49.160000,49.810001,1282700,2018-08-03
13295859,CBRE,49.340000,49.369999,48.990002,49.529999,1195900,2018-08-06
13295872,CBRE,49.630001,49.599998,49.320000,49.770000,1250200,2018-08-07
13295879,CBRE,49.580002,48.070000,47.770000,49.580002,1870900,2018-08-08
13295892,CBRE,47.939999,47.970001,47.500000,48.230000,1245300,2018-08-09
13295898,CBRE,47.509998,46.990002,46.959999,47.730000,1474200,2018-08-10
13295911,CBRE,46.860001,46.080002,46.060001,47.070000,2191600,2018-08-13
13295917,CBRE,46.230000,46.919998,46.160000,47.040001,2585400,2018-08-14
13295930,CBRE,46.689999,46.509998,46.180000,47.020000,1547800,2018-08-15
13295936,CBRE,46.610001,46.880001,46.490002,47.250000,1518500,2018-08-16
13295949,CBRE,46.919998,47.540001,46.639999,47.590000,3710900,2018-08-17
13295955,CBRE,47.419998,47.320000,47.259998,47.590000,1451300,2018-08-20
13295967,CBRE,47.520000,48.080002,47.450001,48.290001,1431100,2018-08-21
13295973,CBRE,47.930000,47.849998,47.759998,48.180000,1056100,2018-08-22
13295986,CBRE,47.869999,47.630001,47.419998,47.869999,1385400,2018-08-23
13295993,CBRE,47.650002,47.560001,47.509998,48.040001,1083400,2018-08-24

In [108]:
df_kaggle_stock_price_history_data.query("ticker=='UA'").sort_values("date")

,ticker,open,close,low,high,volume,date
3362705,UA,84.260002,84.260002,83.709999,84.739998,1607600,2015-07-01
3362711,UA,84.489998,84.589996,83.900002,84.779999,1051600,2015-07-02
3362728,UA,83.989998,84.580002,83.709999,85.000000,888600,2015-07-06
3362734,UA,84.800003,84.940002,83.309998,84.949997,1398700,2015-07-07
3362751,UA,84.370003,84.389999,83.870003,85.129997,1733100,2015-07-08
3362757,UA,85.389999,84.489998,84.480003,85.800003,1920000,2015-07-09
3362773,UA,85.449997,86.239998,84.769997,86.400002,1684200,2015-07-10
3362779,UA,87.160004,89.349998,87.089996,89.459999,2721800,2015-07-13
3362795,UA,89.279999,88.800003,88.269997,89.300003,1857400,2015-07-14
3362801,UA,88.800003,88.279999,88.099998,89.000000,1373400,2015-07-15
3362817,UA,86.949997,85.349998,84.370003,87.230003,6208300,2015-07-16
3362823,UA,85.519997,87.220001,85.419998,87.650002,2706600,2015-07-17
3362839,UA,87.900002,88.949997,87.660004,89.470001,2695900,2015-07-20
3362845,UA,88.669998,88.339996,87.599998,89.099998,1973000,2015-07-21
3362861,UA,88.000000,89.370003,88.000000,89.959999,3043300,2015-07-22
3362867,UA,93.500000,95.930000,93.349998,97.690002,10030500,2015-07-23
3362883,UA,96.709999,96.050003,94.750000,97.190002,3985200,2015-07-24
3362889,UA,95.230003,96.430000,94.190002,96.489998,2993000,2015-07-27
3362905,UA,97.000000,97.849998,96.010002,97.930000,2731800,2015-07-28
3362911,UA,97.849998,98.820000,97.599998,98.910004,2164700,2015-07-29
3362930,UA,98.660004,99.279999,98.150002,99.430000,1759900,2015-07-30
3362936,UA,99.889999,99.330002,98.699997,100.019997,2358700,2015-07-31
3362952,UA,99.660004,98.260002,97.089996,99.660004,2536200,2015-08-03
3362958,UA,98.540001,99.349998,97.760002,99.589996,1471900,2015-08-04
3362977,UA,99.839996,101.040001,99.510002,101.820000,2062800,2015-08-05
3362983,UA,101.139999,98.190002,97.580002,101.779999,2422700,2015-08-06
3362999,UA,98.150002,97.930000,96.320000,98.199997,2471800,2015-08-07
3363005,UA,98.930000,98.750000,98.559998,100.190002,2074700,2015-08-10
3363021,UA,98.389999,99.089996,97.690002,99.360001,1545300,2015-08-11
3363028,UA,98.440002,97.769997,95.849998,98.459999,2535500,2015-08-12
...,...,...,...,...,...,...,...
3370807,UA,20.150000,20.110001,19.995001,20.410000,2564600,2018-07-16
3370813,UA,20.000000,20.010000,19.940001,20.330000,2611400,2018-07-17
3370827,UA,20.000000,20.020000,19.920000,20.375000,3865100,2018-07-18
3370833,UA,19.920000,20.190001,19.719999,20.340000,2824700,2018-07-19
3370848,UA,20.170000,20.020000,19.990000,20.530001,1460200,2018-07-20
3370854,UA,20.020000,19.830000,19.733999,20.139999,1551900,2018-07-23
3370869,UA,19.920000,19.240000,19.190001,19.959999,2735600,2018-07-24
3370875,UA,19.090000,19.740000,18.860001,19.760000,3185200,2018-07-25
3370891,UA,19.740000,20.549999,18.850000,21.020000,5609500,2018-07-26
3370897,UA,20.309999,19.280001,18.440001,20.660000,4570300,2018-07-27
3370913,UA,19.120001,18.680000,18.660000,19.190001,2421100,2018-07-30
3370919,UA,18.820000,18.740000,18.558001,19.145000,3102900,2018-07-31
3370935,UA,18.379999,17.770000,17.660000,18.690001,4021300,2018-08-01
3370941,UA,17.670000,18.170000,17.629999,18.250000,2784600,2018-08-02
3370957,UA,18.270000,18.379999,18.250000,18.930000,3051300,2018-08-03
3370963,UA,18.280001,18.370001,18.107000,18.480000,1806300,2018-08-06
3370979,UA,18.379999,18.490000,18.299999,18.610001,1946300,2018-08-07
3370985,UA,18.490000,18.760000,18.490000,18.879999,1932600,2018-08-08
3371001,UA,18.790001,19.150000,18.730000,19.250000,1914000,2018-08-09
3371007,UA,18.980000,19.139999,18.950001,19.270000,1468700,2018-08-10
3371024,UA,19.250000,19.209999,19.070000,19.690001,2758100,2018-08-13
3371030,UA,19.309999,19.790001,19.250000,20.030001,2653400,2018-08-14
3371048,UA,19.540001,19.020000,18.870001,19.590000,2345200,2018-08-15
3371054,UA,19.160000,19.219999,18.940001,19.340000,1262900,2018-08-16
3371070,UA,19.190001,18.920000,18.920000,19.299999,1214900,2018-08-17
3371076,UA,18.930000,19.450001,18.930000,19.469999,2014900,2018-08-20
3371092,UA,19.639999,19.860001,19.639999,20.020000,1832100,2018-08-21
3371098,UA,19.850000,19.820000,19.680000,20.240000,1408600,2018-08-22
3371115,UA,19.799999,19.940001,19.670000,20.040001,1944500,2018-08-23
3371121,UA,19.860001,19.709999,19.530001,19.940001,2173400,2018-08-24

In [110]:
df_merged_unique.query("ticker=='UAL'").sort_values("date")

,ticker,date,open,close,low,high,volume
3291349,UAL,2006-02-06,34.820000,33.900002,33.700001,34.939999,1940300.0
3291350,UAL,2006-02-07,33.900002,32.990002,31.730000,33.900002,3224600.0
3291351,UAL,2006-02-08,31.459999,32.000000,30.879999,32.400002,8960500.0
3291352,UAL,2006-02-09,29.799999,34.500000,29.510000,34.980000,8016600.0
3291353,UAL,2006-02-10,33.919998,34.240002,33.599998,35.570000,2229100.0
3291354,UAL,2006-02-13,36.009998,35.040001,34.430000,36.220001,4804900.0
3291355,UAL,2006-02-14,34.040001,35.779999,34.020000,36.250000,3630300.0
3291356,UAL,2006-02-15,35.200001,36.529999,35.200001,36.619999,3260600.0
3291357,UAL,2006-02-16,36.040001,35.700001,35.450001,36.290001,2042100.0
3291358,UAL,2006-02-17,36.110001,36.930000,35.070000,37.000000,2265000.0
3291359,UAL,2006-02-21,35.880001,35.430000,35.250000,36.230000,2121900.0
3291360,UAL,2006-02-22,35.709999,36.080002,35.340000,36.700001,1659600.0
3291361,UAL,2006-02-23,35.500000,36.139999,35.400002,36.980000,1637400.0
3291362,UAL,2006-02-24,35.520000,35.799999,35.450001,35.990002,1364600.0
3291363,UAL,2006-02-27,35.700001,35.500000,35.200001,35.849998,2381100.0
3291364,UAL,2006-02-28,35.689999,35.470001,35.279999,36.320000,1093400.0
3291365,UAL,2006-03-01,35.259998,36.099998,35.060001,36.400002,1401600.0
3291366,UAL,2006-03-02,35.650002,36.070000,35.610001,36.340000,1374000.0
3291367,UAL,2006-03-03,36.000000,36.619999,36.000000,36.950001,1701600.0
3291368,UAL,2006-03-06,36.430000,36.919998,36.430000,37.200001,753600.0
3291369,UAL,2006-03-07,36.759998,37.220001,36.750000,38.000000,833100.0
3291370,UAL,2006-03-08,37.029999,37.410000,37.000000,37.520000,878800.0
3291371,UAL,2006-03-09,37.410000,37.320000,37.090000,37.410000,776100.0
3291372,UAL,2006-03-10,37.150002,38.139999,36.919998,38.150002,1517200.0
3291373,UAL,2006-03-13,37.950001,38.220001,37.799999,38.889999,3228300.0
3291374,UAL,2006-03-14,38.110001,38.990002,38.110001,39.099998,2658400.0
3291375,UAL,2006-03-15,39.080002,39.570000,38.869999,39.799999,1574200.0
3291376,UAL,2006-03-16,39.310001,39.270000,39.169998,39.570000,568100.0
3291377,UAL,2006-03-17,39.029999,39.200001,38.770000,39.200001,1345500.0
3291378,UAL,2006-03-20,38.759998,40.150002,38.759998,40.240002,1850900.0
...,...,...,...,...,...,...,...
3295008,UAL,2020-08-19,34.270000,34.440000,34.140000,36.540000,40590000.0
3295009,UAL,2020-08-20,33.920000,34.050000,33.200000,34.380000,28200000.0
3295010,UAL,2020-08-21,33.800000,33.040000,32.980000,34.440000,22730000.0
3295011,UAL,2020-08-24,33.850000,36.320000,33.230000,36.380000,50530000.0
3295012,UAL,2020-08-25,36.490000,35.220000,34.480000,36.910000,39750000.0
3295013,UAL,2020-08-26,35.200000,34.250000,34.110000,35.510000,23410000.0
3295014,UAL,2020-08-27,35.500000,36.220000,35.200000,37.980000,51050000.0
3295015,UAL,2020-08-28,37.140000,37.340000,35.890000,37.440000,35230000.0
3295016,UAL,2020-08-31,37.280000,36.000000,35.740000,37.420000,27110000.0
3295017,UAL,2020-09-01,35.250000,36.010000,34.950000,37.240000,29670000.0
3295018,UAL,2020-09-02,36.030000,36.890000,35.230000,37.090000,26620000.0
3295019,UAL,2020-09-03,37.140000,37.400000,36.140000,39.750000,53970000.0
3295020,UAL,2020-09-04,38.150000,38.210000,36.460000,38.740000,33120000.0
3295021,UAL,2020-09-08,37.300000,37.280000,36.500000,38.470000,33210000.0
3295022,UAL,2020-09-09,36.910000,36.030000,35.590000,37.010000,25410000.0
3295023,UAL,2020-09-10,36.350000,36.450000,36.190000,37.330000,24910000.0
3295024,UAL,2020-09-11,36.630000,36.070000,35.480000,36.800000,19200000.0
3295025,UAL,2020-09-14,36.300000,36.740000,35.840000,36.850000,18940000.0
3295026,UAL,2020-09-15,36.820000,36.800000,36.400000,37.880000,21380000.0
3295027,UAL,2020-09-16,36.900000,38.300000,36.420000,38.890000,33300000.0
3295028,UAL,2020-09-17,37.600000,38.350000,37.160000,39.270000,31340000.0
3295029,UAL,2020-09-18,38.160000,36.970000,36.680000,38.340000,32770000.0
3295030,UAL,2020-09-21,35.300000,33.790000,33.190000,35.430000,29900000.0
3295031,UAL,2020-09-22,34.080000,34.070000,33.620000,34.640000,16700000.0
3295032,UAL,2020-09-23,34.210000,33.080000,33.050000,35.050000,21580000.0
3295033,UAL,2020-09-24,32.630000,32.740000,31.260000,33.400000,24640000.0
3295034,UAL,2020-09-25,32.560000,34.200000,32.490000,34.270000,21460000.0
3295035,UAL,2020-09-28,35.320000,35.940000,34.680000,36.890000,34830000.0
3295036,UAL,2020-09-29,35.520000,34.510000,34.250000,35.520000,25030000.0
3295037,UAL,2020-09-30,34.970000,34.750000,34.550000,36.220000,29440000.0

In [111]:
df_merged_unique.to_csv("./output/s_and_p_stock_price_history.csv")